<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LBBE-Books</h1>
    <h3>Là c'est Lionel qui s'y colle !!!!</h3>

  </body>
</html>

