<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title>Création de Compte LBBE-Book</title>
</head>
<body>
	<form action="/creerCompte" method="POST">
		Nom <input type="text" name="nom">
		Prénom <input type="text" name="prenom">
		Contact <input type="text" name="contact">
		<input type="submit" value="valider">
	</form>
</body>
</html>