<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title>Création de Compte LBBE-Book</title>
</head>
<body>
	<form action="/creerCompte" method="POST">
        <table>
            <tr>
        		<td>Nom</td>
                <td><input type="text" name="nom"></td>
            </tr>
            <tr>
		        <td>Prénom</td>
                <td><input type="text" name="prenom"></td>
            </tr>
            <tr>
		        <td>Contact</td>
                <td><input type="text" name="contact"></td>
            </tr>
            <tr>
		        <td><input type="submit" value="valider"></td>
            </tr>
        </table>
	</form>
</body>
</html>