<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LBBE-Books</h1>
    <p><%= title %></p>
    <p>Livre : <%= livre %></p>
    <p>Emprunteur : <%= emprunteur %></p>
    <a href="/">Retour accueil</a>
  </body>
</html>
