<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LBBE-Books</h1>
    <p>Emprunter et rendre des livres</p>
    <h2>Emprunter</h2>
    <form action="http://localhost:8080" method="post">
    <label for="livre">Livre</label>
    <input  id="livre" type="text" name="livre">
    <label for="emprunter">Emprunteur</label>
    <input  id="emprunteur" type="text" name="emprunteur">
    <input type="submit" name="Emprunter">
    </form>

  </body>
</html>
