<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LBBE-Books</h1>
    <p> Erreur : le livre <b> <%= titre_livre %> </b> n'a pas pu &ecirc;tre rajouté à la base de données! </p>
  </body>
</html>
