<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
  </head>
  <body>
    <form action="AjouterLivre" method="post">
     Titre <form><input type="text" name="titre" >
      <form>
        <input type="submit" value="valider">
      </form>
  </body>
</html>
