<!DOCTYPE html>
<html>
  <head>
    <title>Rendre un livre</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LBBE-Books</h1>
    <p>Livre rendu : <%= livre %></p>
    <a href="/">Retour accueil</a>
  </body>
</html>
