<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LBBE-Books</h1>
    <p> L'utilisateur <b> <%= utilisateur_prenom %> </b> <b> <%= utilisateur_nom %> </b> a bien été rajouté à la base de données, merci ! </p>
  </body>
</html>
